.App {
  text-align: center;
  color: aliceblue;
  font-family: cursive;
  text-decoration-color: aliceblue;
  text-decoration-line:overline;
  text-decoration-line: underline;
  background-color: black ;
}

